.btn {
  margin-top: 2px;
  margin-bottom: 2px;
  border-top-right-radius: 10px;
  padding: 18px 38px;
  border-width: 0px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik';
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1A1A1A;
  width: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &--primary {
    border-color: var(--color-primary);
    color: white;
    background-color: var(--color-primary);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dashed var(--color-primary);
    }

   .btn--primary:hover {
           background-color: white;
           color: var(--color-primary);
           border: 0px solid var(--color-primary);
         }

    @include hover {
      background-color: white;
      color: var(--color-primary);
      border: 0px solid var(--color-primary);
    }


    &:active {
      background-color: rgb(11, 150, 220);
      color: #ecedf2;
      border: 0px solid rgb(11, 150, 220);
    }
  }

  &--secondary {
    border-color: #ecedf2;
    color: #2c4bd7;
    background-color: #fff;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dashed black;
      outline-offset: 3px;
    }

    &:hover {
      background-color: var(--color-warning);
      color: #fff;
      border: 1px solid var(--color-warning);

      transition: all 0.3s ease-in-out;
    }

    &:active {
      background-color: rgb(11, 150, 220);
      color: #ecedf2;
      border: 0px solid rgb(11, 150, 220);
    }
  }

  &--tretiary {
    border: 2px solid #2c4bd7;

    color: #2c4bd7;
    background-color: #fff;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed black;
    }

    &:hover {
      background-color: #2c4bd7;
      color: #fff;
      border: 2px solid #2c4bd7;
    }

    &:active {
      background-color: rgb(11, 150, 220);
      color: #ecedf2;
      border: 2px solid rgb(11, 150, 220);
    }
  }

  &--quinary {
    // border-color: transparent;
    color: #2c4bd7;
    background-color: transparent;
    border: 1px solid #2c4bd7;

    @include hover {
      background-color: #2c4bd7;
      color: #fff;
      border: 1px solid #2c4bd7;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed black;

      &:hover {
        background-color: #2c4bd7;
        color: #fff;
        border: 0px solid #2c4bd7;
        cursor: pointer;
      }

      &:active {
        background-color: rgb(11, 150, 220);
        color: #ecedf2;
        border: 2px solid rgb(11, 150, 220);
      }
    }
  }
}
