.btn {
  padding: 18px 38px;
  border-width: 2px;
  border-style: solid;
display: inline-flex;
align-items: center;
justify-content: center;
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
width: 100%;
transition: all 0.3s ease-in-out;
cursor: pointer;
&--primary {
  border-color: #2c4bd7;
color: white;
background-color: #2c4bd7;
&:focus {
outline: none;
}
&:focus-visible {
outline: 2px dashed var(--color-accent);
}

@include hover {
background-color: white;
color: #2c4bd7;
border: 2px solid #2c4bd7;
}
// &:hover  {
// background-color: white;
// color: #2c4bd7;
// border: 2px solid #2c4bd7;
// }
&:active {
background-color: rgb(11, 150, 220);
color: #ecedf2;
border: 2px solid rgb(11, 150, 220);
}
}
&--secondary {
  border-color: #ecedf2;
color: #2c4bd7;
background-color: #fff;
&:focus {
outline: none;
}
&:focus-visible {
outline: 2px dashed black;
}

&:hover {
background-color: #2c4bd7;
color: #fff;
border: 2px solid #2c4bd7;
}
&:active {
background-color: rgb(11, 150, 220);
color: #ecedf2;
border: 2px solid rgb(11, 150, 220);
}
}
&--tretiary {
border: 2px solid #2c4bd7;

color: #2c4bd7;
background-color: #fff;
&:focus {
outline: none;
}
&:focus-visible {
outline: 2px dashed black;
}

&:hover {
background-color: #2c4bd7;
color: #fff;
border: 2px solid #2c4bd7;
}
&:active {
background-color: rgb(11, 150, 220);
color: #ecedf2;
border: 2px solid rgb(11, 150, 220);
}
}
&--quinary {
  border-color: transparent;
color: #2c4bd7;
background-color: transparent;
&:focus {
outline: none;
}
&:focus-visible {
outline: 2px dashed black;
}

&:hover {
background-color: #2c4bd7;
color: #fff;
border: 2px solid #2c4bd7;
}
&:active {
background-color: rgb(11, 150, 220);
color: #ecedf2;
border: 2px solid rgb(11, 150, 220);
}
}
}
