.grid-cart {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr 1fr 3fr;
}


.cart-content {
  &__top {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 24px 0;
  }
  &__inner {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-secondary);
    text-align: left;
  }
  &__image {width: 200px;}
  &__title {
      font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-primary);

  }
  &__price {
      font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-primary);
    text-align: left;
  }
  &__sum {
      font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-primary);
    text-align: left;
  }
  &__middle {padding: 24px;}
  &__stepper {
display: inline-flex;
  align-items: center;
  padding: 8px;
  background: rgb(226, 224, 224);
  gap: 8px;
  &__minus,
  &__plus {
  width: 12px;
  height: 12px;
  }
  &__disabled {
  opacity: 0.7;
  pointer-events: none;
  }
  &__input {
  width: 20px;
  height: 12px;
  background: transparent;
  font-family: 'Rubik';
  font-weight: 500;
  font-style: 'Rubik-Medium';
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #0c0c0c;
  }
  }
  &__bottom {
    position: relative;
    width: 100%;
  }
  &__btn {
        font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--light-color);
    text-align: left;
  }
  &__result {
    position: absolute;
    right: 24px;
    top: 50%;
    translate: 0 -50%;
    z-index: 100;
       font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--light-color);
    text-align: left;

    span {
        font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--light-color);
    text-align: left;
    }
  }

}
