.catalog {
  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 40px;
  }

  &__meta {
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 4px;
  }

  &__shows {
    // position: absolute;
    // top: 0;
    // left: 0;
    padding: 4px;
  }

  &__set {
    margin-left: -5px;

  }

  &__top {
    border: 1px solid gainsboro;
  }

  &__subtitle {
    margin: 0;
    padding: 24px 0;
    font-family: 'Rubik';
    font-weight: 600;

    font-size: 16px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

  }

  &__reset {
    margin-left: 10px;
    font-family: "Rubik";
    font-weight: 400;

    font-size: 16px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__filtered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
    padding: 2px;
    // padding-left: 0;
  }

  &__left {
    max-width: 474px;
    width: 100%;
    border-right: 1px solid gainsboro;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

  }
}

.grid {
  display: grid;
  grid-template-columns: 3fr 9fr;
}
