.catalog-content-filter {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__block {
    position: relative;
    border-bottom: 1px solid gainsboro;
    padding: 4px;
    padding-left: 0;
  }

  &__btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 20px;
    height: 20px;
    // background-color: red;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      width: 16px;
      height: 2px;
      background-color: var(--color-primary);
      translate: -50% -50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      width: 2px;
      height: 16px;
      background-color: var(--color-primary);
      translate: -50% -50%;
    }
  }

}
