.catalog-filter {
  &__price {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &-divider {
      font-family: 'Rubik';
      font-weight: 500;

      font-size: 16px;
      color: var(--color-secondary);
      line-height: 120%;
      letter-spacing: 0%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__block {
    position: relative;
    border-bottom: 1px solid gainsboro;

    padding: 4px;
    // padding-left: 0;

    &--open {
      .catalog-filter__inner {
        max-height: 250px;
        height: 100%;
        opacity: 1;
        padding-top: 0px;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  &__inner {
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &__title {
    font-family: 'Rubik';
    font-weight: 600;
    color: var(--color-primary);
    font-size: 16px;

    line-height: 140%;
    letter-spacing: 0%;
  }

  &__btn {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 20px;
    height: 20px;
    // background-color: red;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      width: 16px;
      height: 2px;
      background-color: var(--color-primary);
      translate: -50% -50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 5px;
      width: 2px;
      height: 16px;
      background-color: var(--color-primary);
      translate: -50% -50%;
    }
  }

}
