.cookie-block {

  position: fixed;
  right: 32px;
  top: 32px;
  z-index: 1100;
  max-width: 400px;
  width: 100%;
  background-color: transparent;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;

  &__title {
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 22px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  &__descr {
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 16px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__btn {
    width: 100%;
    opacity: 0.4;
  }

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
