.custom-radio {
  position: relative;


  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 2px solid gainsboro;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      box-sizing: border-box;
      background-image: url(../img/radio-checked.png);
      background-color: var(--color-accent);
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-radio__field:checked+.custom-radio__content::after {
  opacity: 1;
}

.custom-radio__field:focus+.custom-radio__content::before {
  outline: 2px dashed var(--color-primary);
  outline-offset: 2px;
}

.custom-radio__field:disabled+.custom-radio__content {
  opacity: 0.4;
  pointer-events: none;
}
