.custom-checkbox {
  position: relative;


  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 25px;
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 16px;

    line-height: 140%;
    letter-spacing: 0%;
    cursor: pointer;


    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid gainsboro;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-image: url(../img/Vector.png);
      background-color: var(--color-accent);
      background-position: center;
      background-size: 10px 10px;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
}

.custom-checkbox__field:checked+.custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus+.custom-checkbox__content::before {
  outline: 2px dashed var(--color-primary);
  outline-offset: 2px;
}

.custom-checkbox__field:disabled+.custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
