// ваш код
.header {

  position: relative;
  z-index: 110;
  background: #fff;
  &__top {
  padding: 20px 0;
  border-bottom: 1px solid gainsboro;
  }
&__container {
  display: flex;

  align-items: center;


  // gap: var(--gap);
}

&__logo {
  margin-right: 32px;
font-family: var(--font-family);
font-weight: 900;
font-style: 'Rubik-Bold';
font-size: 32px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;

}
&__enter {
text-transform: uppercase;
}
&__actions {
  display: flex;
  align-items: center;
  gap: 32px;
margin-left: auto;

}
&__action {
font-family: 'Rubik';
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
transition: color 0.3s ease-in-out;
.icon {
fill: currentColor;
}
&:focus {
outline: none;
}
}
&__fav,
&__cart {
width: 24px;
height: 24px;
}
&__catalog {
margin-left: -24px;
}
&__phone {
margin-left: auto;
font-family: 'Rubik';
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
}
&__bottom {

border: 1px solid gainsboro;
}
}
