.header__btn {
display: inline-flex;
align-items: center;
justify-content: space-between;
padding: 20px 24px;
width: 237px;
border-right: 1px solid gainsboro;
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;
color: black;
transition: all 0.3s ease-in-out;
gap: 12px;
&:focus {
outline: none;
}
&:focus-visible {
outline: 1px dashed currentColor;
}
@include hover {
color: goldenrod;

}
&__angle {
 margin-left: auto;
  display: block;
  object-fit: cover;
fill: currentColor;
width: 16px;
height: 16px;
transition: rotate 0.3s;
}
&:active {
color: olive;
}
&--active {
.header__btn__angle {
   rotate: 180deg;
}
}
&__icon {
  display: block;
  object-fit: cover;
stroke: currentColor;
width: 16px;
height: 10px;
}


&__search {
  display: block;
  object-fit: cover;
stroke: currentColor;
width: 16px;
height: 16px;
}

}
