.header-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
position: relative;
max-width: 400px;
width: 100%;
&__label {
position: relative;
max-width: 3px;
width: 100%;
margin-right: 5px;
}
&__icon {
  position: absolute;
  left: 24px;
top: 50%;
display: block;
width: 20px;
height: 20px;
fill: none;
object-fit: cover;
stroke-width: 2px;
stroke: var(--color-secondary);
translate: 0 -50%;
}
&__input {
 margin-left: 20px;
padding-left: 52px;
width: 100%;
height: 60px;
font-family: inherit;
font-style: 16px;
font-weight: 400;
line-height: 140%;
color: var(--color-primary);

&::placeholder {
color: var(--color-secondary);
}
}

}
