// .hero {
//   // position: relative;
//   display: grid;
//     grid-template-columns: 8fr 4fr;
//     gap: 40px;
//     align-items: center;
//   // overflow: hidden;

//   &__image {
//     background-color: var(--color-deep-blue);
//       // width: 65%;
//       height: 740px;
//       @media (max-width: 1024px) {
//           .hero__image {
//             display: none;
//             grid-template-columns: 0fr;
//           }
//         }
//   }

//   &__text {
//     display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: center;
//     background-color: var(--color-deep-blue);
//     // width: 35%;
//     height: 740px;
//           @media (max-width: 1024px) {
//               .hero__text {
//                   // flex: 0 0 100%;
//                   grid-template-columns: 1fr;
//                     max-width: 100%;
//                     text-align: center;
//               }
//             }

//   }
.hero {
  display: grid;
  grid-template-columns: 8fr 4fr; // или 2fr 1fr
  gap: 0px;
  align-items: center;

  &__image {
    background-color: var(--color-deep-blue);
    height: 740px;
    // Добавьте для корректного отображения слайдера:
    overflow: hidden;
    position: relative;

    .hero__slider {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--color-deep-blue);
    height: 740px;
    padding: 0 40px; // Добавьте отступы для текста
  }
}

// Медиа-запросы должны быть на верхнем уровне
@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 0;

    &__image {
      display: none;
    }

    &__text {
      height: auto;
      min-height: 500px; // или auto
      align-items: center;
      text-align: center;
      padding: 60px 20px;
    }
  }
}




.hero {

  &__title {
    margin: 0;
    max-width: 480px;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--light-color);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__descr {
    max-width: 400px;
    width: 100%;
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: var(--light-color);
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }

  &__btn {
    width: 315px;
    height: 60px;

    font-family: 'Rubik';
      font-weight: 600;
      font-style: normal;
      font-size: 12px;
      color: var(--color-deep-blue);
  }
}
.hero__slider {
    background-color: var(--color-deep-blue);
      height: auto;
      background-color: #fff;
}
.hero__slide {
  position: relative;
  background-color: var(--color-deep-blue);
    height: 100%;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper-pagination.hero__pag {
  width: auto;
  text-align: center;
  bottom: 4px;

  .swiper-pagination-bullet {
    margin: 0;
    width: 14px;
    height: 6px;
    border: 0px solid var(--color-primary);
    background-color: var(--light-color);
    border-radius: 0;
    /* Четко убираем скругление */
    opacity: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 14px;
    height: 6px;
    background-color: var(--color-accent-sea);
    border-radius: 0;
    /* Четко убираем скругление */
    opacity: 1;
  }
}
