.hero {
  position: relative;
  display: flex;
  overflow: hidden;

  &__image {
    background-color: var(--color-deep-blue);
      width: 65%;
      // width: 800px;
      height: 740px;
  }
  &__text {
    display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    background-color: var(--color-deep-blue);
    width: 35%;
    // width: 800px;
    height: 740px;

  }





  &__decor {
    position: absolute;
    right: -212px;
    top: 45px;
    width: 512px;
    height: 512px;
    opacity: 1;
    mix-blend-mode: hard-light;
    pointer-events: none;
  }

  &__title {
    margin: 0;
    max-width: 480px;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: var(--light-color);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__descr {
    max-width: 480px;
    width: 100%;
    font-family: 'Rubik';
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: var(--light-color);
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 30px;
  }

  &__btn {
    width: 515px;
    height: 60px;

    font-family: 'Rubik';
      font-weight: 400;
      font-style: normal;
      font-size: 20px;
      color: var(--color-deep-blue);
  }
}
.hero__slider {
    background-color: var(--color-deep-blue);
      height: auto;
      background-color: #fff;
}
.hero__slide {
  position: relative;
  background-color: var(--color-deep-blue);
    height: 100%;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiper-pagination.hero__pag {
  width: auto;
  text-align: center;
  bottom: 4px;

  .swiper-pagination-bullet {
    margin: 0;
    width: 14px;
    height: 6px;
    border: 0px solid var(--color-primary);
    background-color: var(--light-color);
    border-radius: 0;
    /* Четко убираем скругление */
    opacity: 1;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 14px;
    height: 6px;
    background-color: var(--color-accent-sea);
    border-radius: 0;
    /* Четко убираем скругление */
    opacity: 1;
  }
}
