.inner-hero {
  padding-top: 24px;
  padding-bottom: 64px;

  &__title {
    margin: 0;
    margin-top: 60px;
    font-family: "Rubik";
    font-weight: 400;

    font-size: 60px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
