.main-cat {
  width: 1920;
  min-height: 260;
  padding-bottom: 100px;
  opacity: 1;

  // top: 838px;
  &__icon {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    border-bottom: 1px solid gainsboro;
    gap: 2px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 260px;
    background-color: #fff;
    gap: 2px;
    transition: all 0.3s ease-in-out;

    @include hover {
    background-color: var(--color-accent);

      .main-cat__subtitle {
       color: var(--light-color);
       transition: all 0.3s ease-in-out;
      }
      .main-cat__quantity {
       color: var(--light-color);
       transition: all 0.3s ease-in-out;
      }

    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dashed var(--color-primary);
      outline-offset: 3px;
    }
  }

  &__item {
    width: calc(100% / 4);

    &:not(:last-child) {
      .main-cat__link {
        padding: 2px;
      }
    }
  }

  &__subtitle {
    margin: 2px;
    padding: 2px;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  &__quantity {
    margin-top: 10px;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;

  }
}
