.mini-cart {
z-index: 1200;
  display: flex;
  flex-direction: column;
position: absolute;
right: 0;
top: 70px;
border-left: 1px solid gainsboro;
width: 340px;
height: 90vh;
visibility: hidden;
transform: translateX(100%);
transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
background-color: #fff;
&--active {
transform: none;
visibility: visible;
}
&__products {
  display: flex;
  flex-direction: column;
 padding: 0 4px;
 gap: 4px;
padding-bottom: 10px;
// border: 1px solid rgb(250, 250, 247);
}
&__top {
display: flex;
justify-content: space-between;
padding: 18px 40px;
}

&__tittle {
position: relative;
margin: 0;

font-family: 'Rubik';
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;

}
&__quantity {
position: absolute;
right: -10px;
top: 0;
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
}
&__close {
width: 20px;
height: 20px;
color: #1A1A1A;
svg {
fill: currentcolor;
}
}
&__content {
  // height: 100%;
  display: flex;
  flex-direction: column;
overflow-y: auto;
min-height: 0;
gap: 4px;
flex-grow: 1;
}
&__product {
  display: flex;
  flex-direction: column;
padding: 2px 12px;

flex-grow: 1;
border: 2px solid rgb(224, 224, 215);
}
&__bottom {
  padding-top: 12px;
margin-top: auto;
border-top: 1px solid rgb(224, 224, 215);
}
&__result {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
}
&__text,
&__sum {
font-family: 'Rubik';
font-weight: 600;
font-style: normal;
font-size: 16px;
line-height: 120%;
letter-spacing: 10%;
text-transform: uppercase;
color: #1A1A1A;
}

}
