.mini-cart {
z-index: 150;
  display: flex;
  flex-direction: column;
position: absolute;
right: 0;
top: 80px;
border-left: 1px solid gainsboro;
width: 340px;
height: 100vh;
visibility: hidden;
transform: translateX(100%);
transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

&__products {
  display: flex;
  flex-direction: column;
 padding: 0 4px;
 gap: 4px;

// border: 1px solid rgb(250, 250, 247);
}
&__top {
display: flex;
justify-content: space-between;
padding: 18px 24px;
}

&__tittle {
position: relative;
margin: 0;

font-family: 'Rubik';
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;

}
&__quantity {
position: absolute;
right: -10px;
top: 0;
font-family: 'Rubik';
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 10px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
}
&__close {
width: 20px;
height: 20px;
color: #1A1A1A;
svg {
fill: currentColor;
}
}
&__content {
  display: flex;
  flex-direction: column;
overflow-y: auto;
flex-grow: 1;
}
&__product {
  display: flex;
  flex-direction: column;
padding: 2px 12px;
flex-grow: 1;
border: 1px solid rgb(250, 250, 247);
}
&__bottom {
margin-top: auto;
}
&__result {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}
&__text,
&__sum {
font-family: 'Rubik';
font-weight: 600;
font-style: 'Rubik-Bold';
font-size: 14px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
}
&--active {
transform: none;
visibility: visible;
}
}
