.graph-modal {

&__container {
&--enter {
  border-radius: 4px;
  padding: 0;
max-width: 400px;
width: 100%;
}
}
&__close {
right: 12px;
top: 12px;
width: 24px;
height: 24px;
fill: var(--color-secondary);
background: none;

svg {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

}

}
.enter-modal {

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 44px 48px;
  padding-bottom: 42px;
  &__second-step {
    display: none;
  }
  &__title {
font-family: 'Rubik';
font-weight: 500;
font-style: normal;
font-size: 22px;

line-height: 120%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-bottom: 10px;
  }
&__form {
  display: flex;
  align-items: center;
  flex-direction: column;
width: 100%;
gap: 10px;
}
&__label {
width: 100%;
}
&__btn {
  padding: 10px 38px;
width: 100%;
font-family: 'Rubik';
font-weight: 600;

font-size: 16px;

line-height: 122%;
letter-spacing: 0%;
text-transform: uppercase;

}
&__descr {
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 16px;

line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
&__text {
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 16px;

line-height: 140%;
letter-spacing: 0%;
text-align: center;
margin-bottom: 16px;
}
&__back {
  position: absolute;
left: 12px;
top: 12px;
width: 24px;
height: 24px;
fill: var(--color-secondary);
background: none;

svg {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
}
}
