.nav {
 &__item {
  margin-right: 32px;
font-family: var(--font-family);

font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 12px;

line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
}
&__list {
display: flex;
}
&__link {
font-weight: 400;
font-style: 'Rubik-Regular';
font-size: 16px;

line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #1A1A1A;
&:focus {
outline: none;
}
&:focus-visible {
outline: 2px dashed gray;
outline-offset: 3px;
}
@include hover {
color: blue;
transition: all .3s;
}
&:active {
color: blueviolet;
}
}
}
