.order-content {
  padding: 24px;
  margin-top: 0;
display: flex;

align-items: flex-start;
justify-content: center;

&__form,
&__info {
  position:  relative;
  margin-top: 0;
  width: 50%;
  height: 800px;
  padding: 24px 20px;
}
&__form {
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: gainsboro;

}
&__info {
background-color: #fff;

}
&__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
max-width: 600px;
width: 100%;

}
&__inputs {
display: flex;
flex-wrap: wrap;
gap: 20px;
}
&__label {
  position: relative;
width: calc(50% - 10px);

&--textarea {
width: 100%;
}
}
&__title{
    margin: 0;
    margin-bottom: 42px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 16px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__wrapper {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

}
&__items {
// max-width: 260px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
// border: 1px solid gainsboro;
}
&__item {
// max-width: 260px;
display: flex;

align-items: flex-start;
gap: 24px;
border: 1px solid gainsboro;
}
&__subtitle{
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 20px;
    color: var(--color-secondary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__title{
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 20px;
    color: var(--color-secondary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__text{
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 16px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
}
.order-product {
  width: 100%;
  padding: 24px;
  margin-top: 0;
display: flex;

align-items: flex-start;
justify-content: space-between;
}
