.order-content {
  padding: 24px;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__image {
    margin-right: 20px;

  }

&__article {
  width: 700px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid gainsboro;
}
&__row {
   width: 100%;
  // padding: 4px;
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
&__el {
      font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

&__form,
&__info {
  // max-width: 800px;
  // width: 100%;
  // position:  relative;
  margin-top: 20px;
  width: 50%;
  height: 600px;
  padding: 60px 80px;
}
&__form {
  display: flex;

  align-items: flex-start;
  justify-content: space-around;
background-color: gainsboro;

}
&__info {
background-color: #fff;

}
&__inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 10px;

width: 100%;

}
&__inputs {
display: flex;
flex-wrap: wrap;
gap: 10px;
}
&__label {
  position: relative;
width: calc(50% - 10px);

&--textarea {
width: 100%;
}
}
&__title{
    margin-top: 20px;
    margin-bottom: 42px;

    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__wrapper {
  // width: 700px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;

}
&__items {
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 4px;
//  border: 1px solid gainsboro;
}
&__item {
  width: 100%;
  margin: 2px;

  &:not(:last-child) {
border-bottom: 1px solid gainsboro;
}
}

&__result {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  // gap: 20px;
  border: 1px solid gainsboro;
}
&__subtitle{
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 20px;
    color: var(--color-secondary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__title{

    margin: 0;
    margin-bottom: 2px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 20px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
&__link {
    position: relative;
    font-family: 'Rubik';
    font-weight: 500;
    padding: 0px 10px;
    font-size: 12px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

    &::after {
    content: "";
    position: absolute;
    inset: 0;
    }
}

&__quantity {
    position: relative;
    font-family: 'Rubik';
    font-weight: 500;

    font-size: 12px;
    color: var(--color-secondary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

    &::after {
    content: "";
    position: absolute;
    inset: 0;
    }
}
&__price {
  position: relative;
    font-family: 'Rubik';
    font-weight: 500;

    font-size: 12px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

    &::after {
    content: "";
    position: absolute;
    inset: 0;
    }
}
&__text{
    margin: 0;
    margin-bottom: 12px;

    font-family: 'Rubik';
    font-weight: 500;

    font-size: 12px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
}
.order-product {
  width: 100%;
  padding: 24px;
  margin-top: 0;
display: flex;

align-items: flex-start;
justify-content: space-between;
}
.grid4 {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr 2fr;
  text-align: right;
  gap: 20px;
}
