.pagination {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;

  &__item {
    position: relative;
    padding: 0 10px;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }
  }

  &__btn {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik';
    font-weight: 500;
    gap: 12px;
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 122%;
    letter-spacing: 0%;
    text-transform: uppercase;
    transition: all 0.3s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: calc(100% + 12px);
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
      opacity: 0;
      transition: all 0.3s;
    }

    &--active {
      color: var(--color-primary);


      &::after {
        opacity: 1;
        transition: all 0.3s;
      }
    }
  }
}
