// .price-range {
//   height: 4px;

//   &.noUi-target {
//     border: none;
//     border-radius: 0;
//     box-shadow: none;

//   }

//   .noUi-handle {


//     &::before,
//     &::after {
//       content: "";
//       display: none;

//     }

//     top: -9px;
//     height: 22px;
//     width: 22px;
//     border: 4px solid var(--color-secondary);
//     border-radius: 100%;

//   }

//   .noUi-connect {
//     background: var(--color-secondary);
//   }
// }
