.product-similar {
  &__title {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 32px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  &__slider {
    margin: -10px;
    padding: 20px;

    .swiper-slide {
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    .swiper-slide-visible {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }

    &__scrollbar {
      &.swiper-scrollbar {
        position: relative;
        inset: 0;
        border-radius: 0;
        width: 100%;

        height: 4px;
        margin-bottom: 12px;
        background: rgb(230, 228, 228);
      }

      .swiper-scrollbar-drag {

        border-radius: 0;
        background-color: var(--color-secondary);
      }
    }
  }

  &-btn {
    font-family: 'Rubik';
    font-weight: 600;

    font-size: 16px;
    color: var(--color-secondary);
    line-height: 122%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  // &__scrollbar {
  //   &.swiper-scrollbar {
  //     position: relative;
  //     inset: 0;
  //     border-radius: 0;
  //     width: 100%;

  //     height: 4px;
  //     margin-bottom: 22px;
  //     background: rgb(230, 228, 228);
  //   }

  //   .swiper-scrollbar-drag {

  //     border-radius: 0;
  //     background-color: var(--color-secondary);
  //   }
  // }


  &__slider-btn {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 122%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}
