.product {
  position: relative;
  padding: 10px;
  width: 450px;
  height: auto;
  box-shadow: 4px 4px 24px 0 rgba(235, 240, 240, 0);
  background-color: #fff;
  margin-bottom: 10px;

  &__top {
    position: relative;
    display: flex;
    margin-bottom: 20px;

    /* Для абсолютного позиционирования кнопки и бейджей */

    justify-content: center;
    /* Горизонтальное центрирование */
    align-items: center;
    /* Вертикальное центрирование */

    /* Минимальная высота, равная высоте картинки */
  }
  &__bottom {
    display: flex;
      margin: 10px;

      /* Для абсолютного позиционирования кнопки и бейджей */
    flex-direction: column;
      justify-content: center;
      /* Горизонтальное центрирование */
      align-items: flex-start;
  }

  // .product__top picture,
  // .product__top .image {
  // max-width: 100%;
  /* Чтобы картинка не выходила за пределы */
  // height: auto;


  &__badges {
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__badge {
    position: absolute;
    top: 0;
    left: 0;
    // position: absolute;
    // top: 10px;
    // left: 10px;
    z-index: 2;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    gap: 4px;
  }

  &__fav {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
  }

  &__brand {
    display: inline-block;
    margin-bottom: 12px;
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    color: var(--color-secondary);
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  &__title {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__price {
    font-family: 'Rubik';
    font-weight: 600;

    font-size: 16px;
    color: var(--color-primary);
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__link {
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__btn {
    margin-top: 2px;
    width: 450px;
    z-index: 4;
    @include hover {
    background-color: #fff;
    color: var(--color-accent)
    }
  }
}
