.products-tabs {

  width: 100%;
  // height: 728px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 8px 0;

  &__item {
    max-width: 1450px;
    width: 100%;
    height: 60px;
    // width: calc((100% - ((var(--elems) - 1) * var(--gap))) / (var(--elems)));
  }

  &__btn {
    border-top-right-radius: 20px;
    width: 450px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary);
    padding: 20px 40px;
    font-family: 'Rubik';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    // width: 100%;
    line-height: 122%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    gap: 4px;
    transition: all 0.3s ease-in-out;

    &-quantity {
      font-family: 'Rubik';
      font-weight: 400;

      font-size: 12px;
      color: var(--color-secondary);
      line-height: 122%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      margin-left: 6px;
      transition: color 0.3s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px dashed var(--color-primary);
      outline-offset: 3px;
    }

    @include hover {
      background-color: var(--color-primary);
      color: whitesmoke;
      transition: color 0.3s ease-in-out;

      .products-tabs__btn-quantity {
        color: whitesmoke;
        transition: color 0.3s ease-in-out;
      }
    }

    // &:hover {
    //   background-color: var(--color-primary);
    //   color: whitesmoke;
    // }

    &--active {
      color: whitesmoke;
      background-color: var(--color-primary);
      pointer-events: none;

      .products-tabs__btn-quantity {
        color: whitesmoke;
      }

      pointer-events: none;
    }
  }

}
