.search-result {
position: absolute;
left: 0;
top: var(--header-height);
z-index: 250;
height: calc(100vh - var(--header-height));
// opacity: 0;
// visibility: hidden;
display: flex;
transition: all 0.3s ease-in-out;
max-width: 1400px;
width: 100%;
background: #faf8f8;
&__nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-right: 1px solid gainsboro;
  padding: 24px;
width: 474px;
height: 100%;
background: #faf8f8;
}
&__content{
max-width: 926px;
width: 100%;
height: 100%;
background: #faf8f8;
}
&__title{
  margin-bottom: 12px;
margin: 0;
font-weight: 600;
font-size: 16px;
line-height: 122%;
text-transform: uppercase;
color: black;
}
&__list {
display: flex;
flex-direction: column;
gap: 8px;
}
&__btn {
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-transform: uppercase;
color: black;
}
&__inner {
  padding: 24px;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 4px;
 @media (max-width:1200px) {
grid-template-columns: repeat(2, 1fr);
 }
 @media (max-width:800px) {
grid-template-columns: repeat(1, 1fr);
 }
  // .simplebar-content {
  //   --gap: 24px;
  //   --elems: 3;

  //   display: flex;
  //   flex-wrap: wrap;
  //   gap: 24px;
  // }
}
&__el {
  max-width: 300px;
  width: 100%;
// width: calc((100% - ((var(--elems) - 1) * var(--gap))) / (var(--elems)));
}
}
