.search-result-product {
  position: relative;
  display: flex;
  // align-items: flex-start;
  justify-content: flex-start;
border: 1px solid gainsboro;
background: ghostwhite;
padding: 16px;
gap: 20px;
&::after {
content: '';
position: absolute;
right: 16px;
bottom: 16px;
width: 13px;
height: 13px;
background-image: url("../img/search-product-icon.svg");
background-position: center;
block-size: cover;
background-repeat: no-repeat;
}

&__text {
display: flex;
flex-direction: column;
align-items: flex-start ;
}
&__brand {
  margin-bottom: 12px;
font-weight: 500;
font-size: 12px;
line-height: 120%;
text-transform: uppercase;
color: black;
}
&__title {
  margin: 0;
font-weight: 400;
font-size: 14px;
line-height: 140%;
text-transform: uppercase;
color: black;
}
&__link {
 &::after {
 content: '';
 position: absolute;
 inset: 0;
}
}
&__price {
margin-top: auto;
font-weight: 600;
font-size: 20px;
line-height: 140%;
text-transform: uppercase;
color: black;
}

}
