.shops-content {
  &__top {
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 20px 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: 5fr 7fr;
  }

  &__left {
    // grid-column: 5 span;
    border-right: 1px solid gainsboro;
  }

  &__right {
    // grid-column: 7 span;
  }

  &__items {
    .simplebar-content {
    display: flex;
    flex-direction: column;
    }

  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    &:not(:last-of-type) {
      border-bottom: 1px solid gainsboro;
    }
  }

  &__subtitle {
    font-family: 'Rubik';
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    color: var(--color-accent);
    line-height: 140%;
    letter-spacing: 0%;
    margin-bottom: 8px;
  }

  &__metro {
    position: relative;
    padding-left: 16px;
    font-family: "Rubik";
    font-weight: 400;

    font-size: 16px;
    color: var(--color-primary);
    line-height: 140%;
    letter-spacing: 0%;

    &--orange {
      --metro-bg: orange;
    }
    &--grey {
      --metro-bg: grey;
    }
    &--red {
      --metro-bg: red;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      background-color: green;
      translate: 0 -50%;
    }
  }

  &__address {
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 16px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
  }

  &__sh {
    font-family: 'Rubik';
    font-weight: 400;

    font-size: 16px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
  }
// Кнопка на всю область
  &__btn {
    //  &::after {
      content: "";
      position: absolute;
      inset: 0;
    // }
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
  }

  &__form {
    display: flex;
    align-items: center;
    // gap: 20px;
    width: 100%;
    max-width: 300px;
  }

  &__label {
  position: relative;

  }

  &__input {
    width: 300px;
    padding-right: 4px;
    padding-left: 24px;
    background-color: transparent;
  }

  &__icon {
      position: absolute;
  left: 4px;
top: 50%;
display: block;

fill: none;
object-fit: cover;
stroke-width: 2px;
stroke: var(--color-secondary);
translate: 0 -50%;
    width: 16px;
    height: 16px;
    fill: transparent;

  }

  &__btn {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  &__map {
    width: 100%;
    height: 500px;
    margin: 20px 0;
    // background: orange;
    margin-left: 2px;
  }
}
