.small-input {
width: 100%;
border: 1px solid gainsboro;
padding: 0 15px;
height: 44px;
font-family: 'Rubik';
font-weight: 400;
font-style: normal;
font-size: 16px;

line-height: 120%;
letter-spacing: 0%;
color: var(--color-primary);

&::placeholder {
color: var(--color-secondary)
}

}
