.stepper {
display: inline-flex;
align-items: center;
padding: 8px;
background: rgb(226, 224, 224);
gap: 8px;
&__minus,
&__plus {
width: 12px;
height: 12px;
color: var(--color-primary);
transition: all 0.3s ease-in-out;

  svg {
  fill: currentcolor;
  }
  &:focus {
  outline: none;
  }
    &:focus-visible {
  outline: 1px dashed var(--color-primary);
  outline-offset: 2px;
  }
  @include hover {
  color: var(--color-accent);
  }
  &:active {
  color: var(--color-deep-blue);
  }
}
&__disabled {
opacity: 0.7;
pointer-events: none;
}
&__input {
width: 20px;
height: 12px;
background: transparent;
font-family: 'Rubik';
font-weight: 500;
font-style: 'Rubik-Medium';
font-size: 12px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
color: #0c0c0c;
}
}
