.subscribe {
  padding-top: 52px;
  padding-bottom: 64px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 60px;
    color: var(--color-primary);
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 20px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: var(--color-secondary);
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    max-width: 465px;
    width: 100%;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__input {
    min-width: 500px;
    width: 100%;
    height: 60px;
    opacity: 0.6;
    gap: 2px;
  }
}
