.to-top {

  position: fixed;
  right: 34px;
  bottom: 34px;
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: transparent;
  // opacity: 0;
  // visibility: hidden;

  // &--visible {
  //  opacity: 1;
  //  visibility: visible;
  // }
  // svg {
  //   fill: currentcolor;
  // }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed black;
      outline-offset: 2px;
    }

    &:hover {
      // background-color: #2c4bd7;
      // color: #fff;

      border: 2px dashed #2c4bd7;
      border-radius: 5px;
      outline-offset: 3px;
    }

    &:active {
      // background-color: rgb(11, 150, 220);
      color: #ecedf2;
      border: 2px solid rgb(11, 150, 220);
    }
}
