@media (max-width: 1260px) {
   
}

@media (max-width: 1080px) {
   
}

@media (max-width: 992px) {

 

}

@media (max-width: 850px) {
 
}

@media (max-width: 700px) {
   .advantages-inner {
     display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 800px; */
    margin-bottom: 50px;
		
}
    .advantages-inner__row--2 {
      display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 300px; */
    margin-top: 200px;


}
}


@media (max-width: 560px) {
 
}


@media (max-width: 460px) {
   .header-content__title {
    font-family: 'Roboto Condensed', san-serif;
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 12px;

margin-bottom: 30px;

color: #FFFFFF;
}
}