body {
    color: #fff;
    background-color: #0B0B0B;
    font-size: 14px;
    line-height: 28px;
    /* font-family: 'Montserrat', san-serif; */
    font-family: 'Roboto Condensed';
    font-weight: 400;
}
.header-wrap {
    position: relative;
   
}
.header {
    height: 100vh;
    position: absolute;
    z-index: 1;
    /* max-width: 1200px; */
    /* min-height: 800px; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

background: rgba(0, 0, 0, 0.3);
}
.container {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;

}
.container--menu {
    position: relative;

}
.slider-top {
    /* max-width: 1200px; */
    /* max-height: 800px; */
    z-index: 0;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    padding-top: 36px;
    margin-bottom: 29px;
}
.header-btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #FFFFFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.header-btn div {
    width: 36px;
    height: 2px;
    background: #fff;
    margin: 5px 0;
}
.header-content__title {
    font-family: 'Roboto Condensed', san-serif;
    font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 22px;

margin-bottom: 30px;

color: #FFFFFF;
}
.header-content__text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 18px;
width: 284px;
margin-bottom: 40px;
padding: 10px auto;




color: #FFFFFF;
}
.header-content__btn {
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 90px;
    background: rgba(255, 255, 255, 0.15);
border: 1px solid #FFFFFF;
padding: 30px 61px;
margin-top: 25px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
padding: 30px 79px;
transition: all 0.5s;

color: #FFFFFF;
margin-top: -55px;
}
.header-content__btn:hover {
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 90px;
    background-color: #690102;
border: 1px solid #fff;
padding: 30px 79px;
margin-top: 25px;
margin-top: -55px;
}
.footer-content__btn {
    display: inline-block;
    box-sizing: border-box;
   
    width: 290px;
    height: 90px;
    background: rgba(255, 255, 255, 0.15);
border: 1px solid #FFFFFF;
padding: 30px 61px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
padding: 30px 79px;
transition: all 0.5s;

color: #FFFFFF;
margin-top: 100px;
}
.footer-content__btn:hover {
    display: inline-block;
    box-sizing: border-box;
    width: 290px;
    height: 90px;
    background-color: #690102;
border: 1px solid #fff;
padding: 30px 79px;

margin-top: 100px;
}
.menu {
    /* height: 100vh; */
    background: #000;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all .7s;
   
}
.menu.active {
   
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
   
}

.menu__list {
    height: 100vh;
     width: 60vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 70;
   
   
}
.menu__list a:hover {
   border-bottom: 3px solid white;
   color: maroon;
   transform: scale(1.05);
   margin-left: 27px;
   transition: all .5s;
   
}
.menu__list a {
    display: inline-block;
   border-bottom: 3px solid maroon;
   font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 46px;
padding: 5px 5px 2px 0;
max-width: 368px;
width: 100%;

color: #FFFFFF;
}
.close-btn {
    height: 50px;
    width: 50px;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    /* position: relative; */

}
.close-btn::after, 
.close-btn::before {
    content:"";
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    right: 10px;
    top: 10px;

}
.close-btn::after {
    transform: rotate(45deg);
    
    cursor: pointer;

} 
.close-btn::before {
    transform: rotate(-45deg);
   
    cursor: pointer;

}
.slider__item {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
                          
}
.slider .slick-dots button {
   width: 15px; 
   height: 15px;
   border: none;
    background-color: black;
    border-radius: 50%;
    font-size: 0; 
    padding: 0 10px;
    margin-left: 10px;
    outline: none;
    z-index: 2; 
}
.slider .slick-dots .slick-active button {
   width: 15px; 
   height: 15px;
   border: none;
   background-color: white;
    border-radius: 50%;
    font-size: 0; 
    padding: 0; 
}
.slider .slick-dots li {
  display: inline-block;
   margin: 0 5px;
}
.slider .slick-dots  {
  position: relative;
   margin: -55px auto 0 ;
  
   max-width: 1000px;
}
.statistics{
    margin: 160px 0 100px;
    
    

}
.statistics-items {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-around;
    align-items: center;

}
.statistics-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.statistics-item__title

    {
        margin-bottom: 19px;
    }

.statistics-item__num{
    font-weight: 400;
    font-size: 96px;
    line-height: 112px;

    color: #FFFFFF;
    margin-bottom: 7px;

    }
.statistics-item__num--speed span {
   position: relative;
   display: inline-block;

}    
.statistics-item__num--speed span::before {
    content: "+";
   position: absolute;
   top: -55px;

}    
.statistics-item__num span{
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
margin-left: 20px;

display: inline-block;
position: relative;

color: #FFFFFF;

    }

.statistics-item__descr

    {
        font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

/* Красный */

color: #B70021;
    }

.video-items {
    margin-bottom: 100px;
}
.advantages-inner {
     display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 800px; */
    margin-bottom: 50px;
		
}
.grid-text {
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    align-items: end;
    margin-top: 250px;
		
}
.advantages-inner__row--2 {
      display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 300px; */
    margin-top: 200px;


}
.advantages-descr {
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

/* Красный */

color: #B70021;
margin-bottom: 101px;
}
.advantages-descr--2 {
    font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 42px;

/* Красный */

color: #B70021;
margin-top: 250px;
}
.advantages-text {
    max-width: 400px;
    font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
padding:  10px;
color: #FFFFFF;
margin-bottom: 144px;
}
.advantages--02 {
    margin-top: 100px;
}
.footer {
    height: 300px;
    background: maroon;
    padding: 10px 0 10px;        
}
.footer--mini {
    height: 40px;
    background: maroon;
    padding-top: 50px;        
}
.footer-btn {
     display: flex;
        justify-content: center;
    align-items: center;
}
.footer--mini--items {
     display: flex;
     flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;

/* Белый */

color: #FFFFFF;

}

.footer--mini--items li  {
    
    padding:  5px;
}
.footer--mini--items li a {
    border-right: 3px solid white;
    padding-right: 10px;
}



