<footer class="footer">
  <a href="#header" class="btn-reset to-top">
    <svg class="icon" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_126_9443)">
        <rect x="16" y="16" width="28" height="28" rx="4" fill="white" shape-rendering="crispEdges" />
        <path
          d="M34.758 28.2335L31.1747 24.6585C30.8624 24.3481 30.44 24.1738 29.9997 24.1738C29.5594 24.1738 29.137 24.3481 28.8247 24.6585L25.2414 28.2335C25.0861 28.3896 24.999 28.6008 24.999 28.821C24.999 29.0411 25.0861 29.2523 25.2414 29.4085C25.3188 29.4866 25.411 29.5486 25.5125 29.5909C25.6141 29.6332 25.723 29.655 25.833 29.655C25.943 29.655 26.0519 29.6332 26.1535 29.5909C26.255 29.5486 26.3472 29.4866 26.4247 29.4085L29.1664 26.6668V35.8335C29.1664 36.0545 29.2541 36.2665 29.4104 36.4227C29.5667 36.579 29.7787 36.6668 29.9997 36.6668C30.2207 36.6668 30.4327 36.579 30.5889 36.4227C30.7452 36.2665 30.833 36.0545 30.833 35.8335V26.6668L33.5747 29.4085C33.7305 29.5654 33.9423 29.654 34.1634 29.6548C34.3845 29.6556 34.5969 29.5685 34.7538 29.4126C34.9108 29.2568 34.9994 29.0451 35.0001 28.8239C35.0009 28.6028 34.9138 28.3904 34.758 28.2335Z"
          fill="#666666" />
      </g>
      <defs>
        <filter id="filter0_d_126_9443" x="0" y="0" width="68" height="68" filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
            result="hardAlpha" />
          <feOffset dx="4" dy="4" />
          <feGaussianBlur stdDeviation="10" />
          <feComposite in2="hardAlpha" operator="out" />
          <feColorMatrix type="matrix" values="0 0 0 0 0.923077 0 0 0 0 0.878698 0 0 0 0 0.878698 0 0 0 0.25 0" />
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_126_9443" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_126_9443" result="shape" />
        </filter>
      </defs>
    </svg>
  </a>
  <!--cooky-block  -->
  <div class="cookie-block">
    <h3 class="cookie-block__title">Мы используем куки для улучшения работы сайта</h3>
    <p class="cookie-block__descr">Оставаясь на сайте, вы соглашаетесь на использование файлов куки</p>
    <button class="btn btn--tretiary cookie-block__btn">OK</button>
  </div>
  <!--cooky-block  -----end->
  <div class="container">
    <div class="footer__top grid">
      <div class="footer__col">
        <h3 class="footer__title">Tesla</h3>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">Каталог</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Винил</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Кассеты</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Аппаратура</a>
          </li>

        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">Клиентам</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Доставка</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Возврат</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">FAQ</a>
          </li>

        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">Контакты</h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Email: olegrewko@gmail.com</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Телефон: 8-999-852-58-21</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Адрес: Москва ул Ясеневая 34-19</a>
          </li>

        </ul>
      </div>

    </div>
    <div class="footer__bottom">
      <small class="footer__copy">© 2024 Tesla. Все права защищены.</small>
      <a href="#" class="footer__add">Политика конфиденциальности</a>
      <a href="#" class="footer__add">Условия использования</a>
    </div>
  </div>
</footer>
