<section class="hero">

<div class="hero__image">
        <picture>
          <source srcset="img/hero-image.webp" type="image/webp">
          <img class="hero__pic" width="960px" height="640px" src="img/hero-image.png" alt="img/hero-image.png">
        </picture>

</div>
<div class="hero__text">
  <img src="img/hero-decor.png" alt="img/hero-decor" class="hero__decor" aria-hidden="true">
<h1 class="visually-hidden">Tesla - продажа Hi-Fi техники</h1>
<h2 class="hero__title">Звук, который можно потрогать</h2>
<p class="hero__descr">
Reel to Real — портал в эпоху аналогового звука. Редкие виниловые пластинки и отреставрированная аппаратура для тех, кто ценит живой звук.
</p>
<a href="./catalog.html" class="btn btn--secondary hero__btn">исследовать коллекцию</a>
</div>

</section>
