<section class="hero">


 <div class="hero__image">
            <div class="hero__slider swiper">

              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="hero__slide">

                    <img src="../img/products/mp.png"  class="hero__image">

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hero__slide">

                    <img src="../img/products/mp02.png"  height="740px" class="hero__image">

                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="hero__slide">

                    <img src="../img/products/p3.png"  height="540px" class="hero__image">

                  </div>
                </div>
                              <div class="swiper-slide">
                                <div class="hero__slide">

                                  <img src="../img/products/product-slider.png" height="740px" class="hero__image">

                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="hero__slide">

                                  <img src="../img/products/1-main.png" height="740px" class="hero__image">

                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="hero__slide">

                                  <img src="../img/products/2-main.png" height="740px" class="hero__image">

                                </div>
                              </div>
              </div>
              <div class="swiper-pagination hero__pag"></div>
            </div>
        <!-- <picture>
          <source srcset="img/hero-image.webp" type="image/webp">
          <img class="hero__pic" width="960px" height="640px" src="img/hero-image.png" alt="img/hero-image.png">
        </picture> -->

</div>
<div class="hero__text">
  <!-- <img src="img/hero-decor.png" alt="img/hero-decor" class="hero__decor" aria-hidden="true"> -->
<h1 class="visually-hidden">Tesla - продажа Hi-Fi техники</h1>
<h2 class="hero__title">Комплектующие для компьютера</h2>
<h2 class="hero__title">+</h2>
<h2 class="hero__title">Аудио Hi-Fi и Hi-End периферия</h2>
<p class="hero__descr">
Tesla — портал в эпоху аналогового звука. Редкие виниловые пластинки и отреставрированная аппаратура для тех, кто ценит живой звук.
</p>
<a href="./catalog.html" class="btn btn--secondary  hero__btn">исследовать коллекцию</a>
</div>

</section>
