<!-- <div class="loop-scroll">
  <div class="loop-scroll__inner">
Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру

  </div>
</div> -->
<div class="loop-scroll">
  <div class="loop-scroll__inner">
    <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
      <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
   <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
      <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
   <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
      <span class="loop-scroll__text">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
    <span class="loop-scroll__text" aria-hidden="true">
      Винил • Кассеты • Аппаратура • Реставрация • Доставка по миру •
    </span>
  </div>
</div>
