<section class="main-cat">
  <h2 class="visually-hidden">Категории</h2>
    <ul class="list-reset main-cat__list">
      <li class="main-cat__item">
        <a href="#" class="main-cat__link">
          <img src="img/cat01.svg" alt="img/cat01.svg" class="main-cat__icon" aria-hidden="true">
          <h3 class="main-cat__subtitle">Пластинки</h3>
          <div class="main-cat__quantity">132 товара</div>
        </a>
      </li>
      <li class="main-cat__item">
        <a href="#" class="main-cat__link">
          <img src="img/cat07.svg" alt="img/cat07.svg" class="main-cat__icon" aria-hidden="true">

          <h3 class="main-cat__subtitle">Кассеты</h3>
          <div class="main-cat__quantity">32 товара</div>
        </a>
      </li>
      <li class="main-cat__item">
        <a href="#" class="main-cat__link">
          <img src="img/cat03.svg" alt="img/cat03.svg" class="main-cat__icon" aria-hidden="true">
          <h3 class="main-cat__subtitle">Проигрыватели</h3>
          <div class="main-cat__quantity">132 товара</div>
        </a>
      </li>
      <li class="main-cat__item">
        <a href="#" class="main-cat__link">
          <img src="img/cat04.svg" alt="img/cat04.svg" class="main-cat__icon" aria-hidden="true">
          <h3 class="main-cat__subtitle">Аксессуары</h3>
          <div class="main-cat__quantity">32 товара</div>
        </a>
      </li>
    </ul>
</section>
