<section class="product-test">
  <div class="container">
    <div class="product-test__content grid">
      <div class="product-test__left">
        <div class="product-hero__rating">
          <div class="product-hero__rating-value">4.5</div>
          <div class="product-hero__rating-testimonials">• 5 отзывов</div>
        </div>
      </div>
      <div class="product-test__right">
        <h2 class="product-test__title">Отзывы о товаре</h2>
        <div class="product-test__d">
          <div class="product-test__content">
            <!-- <h2 class="product-test__title">Отзывы о товаре</h2> -->
            <div class="product-test__items">
              <div class="product-test__item">

                <div class="product-test__rating">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <span>5.0</span>
                </div>
                <div class="product-test__top">
                  <div class="product-test__name">Constantine Trofimov</div>
                  <time datetime="2025-10-12" class="product-test__time">16 мая</time>
                </div>
                <div class="product-test__inner">
                  <!-- <div class="product-test__items"> -->
                  <p class="product-test__text">
                    <b>Достоинства:</b> качественный звук. очень качественный.
                  </p>
                  <p class="product-test__text">
                    <b>Недостатки:</b> мне показалось немножко тиховатым. мне чуть-чуть не хватило громкости.
                  </p>
                  <p class="product-test__text">
                    <b>Комментарий:</b> используя его в тандеме с микшерным пультом, который также является звуковой
                    картой.
                    подключаю через XLR. на
                    самом пульте усиления 54 децибелла максимум. приходится выкручивать на полную. чтобы была комфортная
                    громкость. но
                    все-таки это не конденсаторный микрофон. в принципе микрофон крайне чувствительный, то есть даже
                    если
                    я
                    оставлю его
                    далеко от своего рта. все равно очень достойно слышно. может быть, излишняя тихость-это мое
                    субъективное
                    восприятиено в
                    любом случае я его вытягиваю в редакторе.за свои деньги к нему никаких вопросов. супер.
                  </p>
                </div>


              </div> <!-- </div>   product-test__item -->
              <!-- <div class="product-test__item">

                <div class="product-test__rating">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  5.0
                </div>
                <div class="product-test__top">
                  <div class="product-test__name">Максим Б.</div>
                  <time datetime="2025-10-12" class="product-test__time">16 августа</time>
                </div>
                <div class="product-test__inner">
                  <!-- <div class="product-test__items"> -->
              <!-- <b class="product-test__text">
                    <b>Достоинства:</b> Последняя партия; Достаточно хорошая запись звука с коробки. Есть конечно у
                    Fifine
                    уже более новые модели
                    динамических микрофонов, но и этот всё ещё достаточно качественный продукт.
                    </p>
                    <p class="product-test__text">
                      <b>Недостатки:</b> мне показалось немножко тиховатым. мне чуть-чуть не хватило громкости.
                    </p>
                    <b class="product-test__text">
                      <b>Комментарий:</b> Покупал данный микрофон исключительно по отзыву другого покупателя, который
                      рассказал о
                      самой первой партии
                      данного микрофона, которая с коробки была не такой качественной. Конкретно тут последняя партия (я
                      думаю, что это будет
                      важно покупателям данного микрофона). Он же рассказал как настроить и предоставил подробную
                      инструкцию
                      по нему, что меня
                      и зацепило, однако данные настройки не совсем уж хорошо подходят под новую партию, но меня, как
                      человека, который купил
                      микрофон для того, чтобы просто хорошо было слышно на трансляциях - данный микрофон более чем
                      устраивает даже из
                      коробки, а если он попадёт в руки более опытного пользователя, которые умеет в настройку записи
                      микрофона, то я думаю,
                      что он заиграет ещё лучшими красками.
                      </p>
                </div> -->

            </div>
          </div>
          <!-- </div>   product-test__itemssssssssssss -->

          <div class="product-test__benefits">
            <h3 class="product-test__d__title">Преимущества</h3>
            <div class="product-test__badges">
              <span class="product-test__badge">Качество звука</span>
              <span class="product-test__badge">Разъемы</span>
              <span class="product-test__badge">Долговечность</span>
              <span class="product-test__badge">Качество звука</span>
              <span class="product-test__badge">Разъемы</span>
              <span class="product-test__badge">Долговечность</span>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <div class="product-test__d">
          <div class="product-test__content">
            <!-- <h2 class="product-test__title">Отзывы о товаре</h2> -->
            <div class="product-test__items">
              <!-- <div class="product-test__item">

                <div class="product-test__rating">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <span>5.0</span>
                </div>
                <div class="product-test__top">
                  <div class="product-test__name">Constantine Trofimov</div>
                  <time datetime="2025-10-12" class="product-test__time">16 мая</time>
                </div>
                <div class="product-test__inner">

                  <p class="product-test__text">
                    <b>Достоинства:</b> качественный звук. очень качественный.
                  </p>
                  <p class="product-test__text">
                    <b>Недостатки:</b> мне показалось немножко тиховатым. мне чуть-чуть не хватило громкости.
                  </p>
                  <p class="product-test__text">
                    <b>Комментарий:</b> используя его в тандеме с микшерным пультом, который также является звуковой
                    картой.
                    подключаю через XLR. на
                    самом пульте усиления 54 децибелла максимум. приходится выкручивать на полную. чтобы была комфортная
                    громкость. но
                    все-таки это не конденсаторный микрофон. в принципе микрофон крайне чувствительный, то есть даже
                    если
                    я
                    оставлю его
                    далеко от своего рта. все равно очень достойно слышно. может быть, излишняя тихость-это мое
                    субъективное
                    восприятиено в
                    любом случае я его вытягиваю в редакторе.за свои деньги к нему никаких вопросов. супер.
                  </p>
                </div>


              </div> </div>   product-test__item -->
              <div class="product-test__item">

                <div class="product-test__rating">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  <img src="img/i-star.svg" class="product-test__rating-icon" alt="Рейтинг товара 5 из 5">
                  5.0
                </div>
                <div class="product-test__top">
                  <div class="product-test__name">Максим Б.</div>
                  <time datetime="2025-10-12" class="product-test__time">16 августа</time>
                </div>
                <div class="product-test__inner">
                  <!-- <div class="product-test__items"> -->
                  <p class="product-test__text">
                    <b>Достоинства:</b> Последняя партия; Достаточно хорошая запись звука с коробки. Есть конечно у
                    Fifine
                    уже более новые модели
                    динамических микрофонов, но и этот всё ещё достаточно качественный продукт.
                  </p>
                  <p class="product-test__text">
                    <b>Недостатки:</b> мне показалось немножко тиховатым. мне чуть-чуть не хватило громкости.
                  </p>
                  <p class="product-test__text">
                    <b>Комментарий:</b> Покупал данный микрофон исключительно по отзыву другого покупателя, который
                    рассказал о
                    самой первой партии
                    данного микрофона, которая с коробки была не такой качественной. Конкретно тут последняя партия (я
                    думаю, что это будет
                    важно покупателям данного микрофона). Он же рассказал как настроить и предоставил подробную
                    инструкцию
                    по нему, что меня
                    и зацепило, однако данные настройки не совсем уж хорошо подходят под новую партию, но меня, как
                    человека, который купил
                    микрофон для того, чтобы просто хорошо было слышно на трансляциях - данный микрофон более чем
                    устраивает даже из
                    коробки, а если он попадёт в руки более опытного пользователя, которые умеет в настройку записи
                    микрофона, то я думаю,
                    что он заиграет ещё лучшими красками.
                  </p>
                </div>


              </div> <!-- </div>   product-test__item -->
            </div><!-- </div>   product-test__itemssssssssssss -->
          </div>
          <div class="product-test__benefits">
            <h3 class="product-test__d__title">Преимущества</h3>
            <div class="product-test__badges">

              <span class="product-test__badge">Долговечность</span>
              <span class="product-test__badge">Качество звука</span>
              <span class="product-test__badge">Разъемы</span>
              <span class="product-test__badge">Долговечность</span>
            </div>
          </div>


        </div>
      </div>
    </div>
    <ul class="list-reset pagination">
      <li class="pagination__item">
        <button class="btn-reset pagination__btn pagination__prev">Назад</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn pagination__btn--active">1</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn">2</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn">3</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn">4</button>
      </li>
      <li class="pagination__item">
        <button class="btn-reset pagination__btn pagination__next">Вперед</button>
      </li>



    </ul>
  </div>
</section>
